<h1>Home page - RoR Test for Gotti</h1>

<h4 style="text-align: center;">Test description</h4>

<p>Create a Ruby on Rails application using ruby 2.3.1 and rails 4.2.6. The application needs to include a simple login system ( device is the recommended gem ) and consumes information from a public API (http://www.ncdc.noaa.gov/cdo-web/webservices/v2 ).</p>

<p>The Application needs to download data and store it in the database and  also display the information in a basic way ( like a table with comprehensive information ).</p>
