<div class="page-header">
  <%= link_to new_log15_temp_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Log15 temp
  <% end %>
  <h1>Listing log15_temps</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Zip code</th>
            <th>Temp min</th>
            <th>Temp max</th>
            <th>Created At</th>
            <th></th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @log15_temps) do |log15_temp| %>
            <td><%= log15_temp.zip_code %></td>
            <td><%= log15_temp.temp_min %></td>
            <td><%= log15_temp.temp_max %></td>
            <td><%= log15_temp.created_at.to_formatted_s(:short) %></td>
            <td><%= link_to 'Show', log15_temp %></td>
            <td><%= link_to 'Destroy', log15_temp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
