<div class="page-header">
  <%= link_to log15_temps_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show log15_temp</h1>
</div>

<dl class="dl-horizontal">
  <dt>Zip code:</dt>
  <dd><%= @log15_temp.zip_code %></dd>

  <dt>Temp min:</dt>
  <dd><%= @log15_temp.temp_min %></dd>

  <dt>Temp max:</dt>
  <dd><%= @log15_temp.temp_max %></dd>

  <dt>Create At:</dt>
  <dd><%= @log15_temp.created_at.to_formatted_s(:short) %></dd>

</dl>
